doctype html
block vars
  - var bodyclass = null;
html(lang='ja')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/font-awesome.min.css')
      link(rel='shortcut icon', href='/img/icon.png', type='image/png')

      script(type='text/javascript').
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-45958410-1', 'anaguma.org');
        ga('send', 'pageview');
      body(class=bodyclass)
    header.header
      div.content-wrap
        block header
          div.logo
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description
    div#content
      div.content-wrap
        block content
          h2 Welcome to zombocom!
    footer
      div.content-wrap
        block footer
          section.about
            div#sns-widget
              div.g-plusone(data-size="medium")
              script(type='text/javascript').
                window.___gcfg = {lang: 'ja'};
                (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              a(href="https://twitter.com/share" class="twitter-share-button" data-related="shoota" data-count="horizontal")
                Tweet
              script(type='text/javascript').
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');            
              a(href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加")
                img(src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;")
              script(type='text/javascript' src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async")

          section.copy
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; &nbsp;
              a(href='https://github.com/jnordberg/wintersmith') Wintersmith
              //- please leave the "powered by" if you use the design
